## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [6]:
#write here and run the cell
for i in range(1, 11):
  print(i, 'th Table: ')
  for j in range(1, 11):
    print(i, 'x', j, '=', 10*i)

1 th Table:
1 x 1 = 10
1 x 2 = 10
1 x 3 = 10
1 x 4 = 10
1 x 5 = 10
1 x 6 = 10
1 x 7 = 10
1 x 8 = 10
1 x 9 = 10
1 x 10 = 10
2 th Table:
2 x 1 = 20
2 x 2 = 20
2 x 3 = 20
2 x 4 = 20
2 x 5 = 20
2 x 6 = 20
2 x 7 = 20
2 x 8 = 20
2 x 9 = 20
2 x 10 = 20
3 th Table:
3 x 1 = 30
3 x 2 = 30
3 x 3 = 30
3 x 4 = 30
3 x 5 = 30
3 x 6 = 30
3 x 7 = 30
3 x 8 = 30
3 x 9 = 30
3 x 10 = 30
4 th Table:
4 x 1 = 40
4 x 2 = 40
4 x 3 = 40
4 x 4 = 40
4 x 5 = 40
4 x 6 = 40
4 x 7 = 40
4 x 8 = 40
4 x 9 = 40
4 x 10 = 40
5 th Table:
5 x 1 = 50
5 x 2 = 50
5 x 3 = 50
5 x 4 = 50
5 x 5 = 50
5 x 6 = 50
5 x 7 = 50
5 x 8 = 50
5 x 9 = 50
5 x 10 = 50
6 th Table:
6 x 1 = 60
6 x 2 = 60
6 x 3 = 60
6 x 4 = 60
6 x 5 = 60
6 x 6 = 60
6 x 7 = 60
6 x 8 = 60
6 x 9 = 60
6 x 10 = 60
7 th Table:
7 x 1 = 70
7 x 2 = 70
7 x 3 = 70
7 x 4 = 70
7 x 5 = 70
7 x 6 = 70
7 x 7 = 70
7 x 8 = 70
7 x 9 = 70
7 x 10 = 70
8 th Table:
8 x 1 = 80
8 x 2 = 80
8 x 3 = 80
8 x 4 = 80
8 x 5 = 80
8 x 6 = 80
8 x 7 = 80
8 x 8 = 80
8 x 9 = 80
8 x 10 = 80
9 th Table:
9 x 1 = 90
9 x 2 = 90
9 x 3 = 90
9 x 4 = 90
9 x 5 = 90
9 x 6 = 90
9 x 7 = 90
9 x 8 = 90
9 x 9 = 90
9 x 10 = 90
10 th Table:
10 x 1 = 100
10 x 2 = 100
10 x 3 = 100
10 x 4 = 100
10 x 5 = 100
10 x 6 = 100
10 x 7 = 100
10 x 8 = 100
10 x 9 = 100
10 x 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [23]:
#write here and run the cell
def colab(l1, l2):
  l3 = []
  for i in range(len(l1) + len(l2)):
    if i % 2 == 0:
      l3.append(l2[i // 2])
    else:
      l3.append(l1[i // 2])
  return l3

l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3 = colab(l1, l2)
print(l3)

[4, 3, 8, 6, 12, 9, 16, 12, 20, 15, 24, 18, 28, 21]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [24]:
#write here and run the cell
def pattern(n):
    for i in range(n):
        for j in range(0, n):
            if j > i:
                print("*", end="")
            else:
                print(" ", end="")
        print()

pattern(8)

 *******
  ******
   *****
    ****
     ***
      **
       *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [25]:
#write here and run the cell
def exponent(base, exp):
  result = 1
  for i in range(exp):
    result *= base
  return result

print(exponent(5, 4))

625

**Q5**. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [28]:
#write here and run the cell
with open('test.txt', 'w') as file:
  file.write('line1\n')
  file.write('line2\n')
  file.write('line3\n')
  file.write('line4\n')
  file.write('line5\n')
  file.write('line6\n')
  file.write('line7\n')
  file.close()

print("Print test.txt")
with open('test.txt', 'r') as file:
  print(file.read())
  file.close()

with open('test.txt', 'r') as infile:
  with open('new.txt', 'w') as outfile:
    for i, line in enumerate(infile):
      if i != 4:
        outfile.write(line)
    outfile.close()
  infile.close()

print("Print new.txt")
with open('new.txt', 'r') as file:
  print(file.read())
  file.close()

Print test.txt
line1
line2
line3
line4
line5
line6
line7

Print new.txt
line1
line2
line3
line4
line6
line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [11]:
#write here and run the cell
names = input()
arr = []
name = ""
space = 0

for char in names:
  if char == ' ':
    arr.append(name)
    name = ""
    space += 1
  else:
    name += char
arr.append(name)

for name in arr:
  print(name)

Shashank Pravinbhai Chauhan
Shashank
Pravinbhai
Chauhan

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [29]:
#write here and run the cell
def show_employee(name, salary = 9000):
  print(f"Name: {name}  Salary: {salary}")

show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates  Salary: 12000
Name: Elon Musk  Salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [30]:
#write here and run the cell
def digits(input_string):
  word = input_string.split()
  ans = []
  for w in word:
    for d in w:
      if d.isdigit():
        ans.append(w)
        break
  return ans

str1 = "Harry25 is Gryffindor Wizard50 and cursed"
print(digits(str1))

['Harry25', 'Wizard50']

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [31]:
#write here and run the cell
def special(input_string):
  ans = ''
  for char in input_string:
    if char.isalpha() or char == " " or char.isdigit():
      ans += char
    else:
      ans += '#'
  return ans

str1 = '/*Modi is @Politician & Melony!!'
print(special(str1))

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [33]:
#write here and run the cell
def pairs(l1, l2):
  ans = set()
  for i in range(len(l1)):
    pair = (l1[i], l2[i])
    ans.add(pair)
  return ans

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
print(pairs(first_list, second_list))

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [16]:
#write here and run the cell
def Operations(A, B):
  print(A - B)
  print(B - A)
  print(A & B)
  print(A | B)

A = set()
B = set()

for i in range(5):
  x = input()
  A.add(x)

for i in range(5):
  x = input()
  B.add(x)

Operations(A, B)

2
4
5
1
7
9
8
1
2
1
{'4', '7', '5'}
{'9', '8'}
{'1', '2'}
{'5', '1', '4', '2', '9', '7', '8'}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [34]:
#write here and run the cell
class Vehicle:
  def __init__(self, max_speed, mileage):
    self.maxspeed = max_speed
    self.mileage = mileage

  def display(self):
    print(f"Max Speed: {self.maxspeed}, Mileage: {self.mileage}")
    return

vehicle = Vehicle(100, 10)
vehicle.display()

Max Speed: 100, Mileage: 10

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [18]:
#write here and run the cell
class Vehicle:
  def __init__(self, max_speed, mileage):
    self.maxspeed = max_speed
    self.mileage = mileage

class Bus(Vehicle):
  def __init__(self, max_speed, mileage):
    super().__init__(max_speed, mileage)

  def display(self):
    print(f"Bus - Max Speed: {self.maxspeed}, Mileage: {self.mileage}")
    return

bus = Bus(100, 10)
bus.display()

Bus - Max Speed: 100, Mileage: 10

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [19]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  def __init__(self, name, max_speed, mileage):
    super().__init__(name, max_speed, mileage)

  def seating_capacity(self, capacity = 50):
    return super().seating_capacity(capacity)

bus = Bus("MyBus", 100, 10)
print(bus.seating_capacity(120))

The seating capacity of a MyBus is 120 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [20]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
  def __init__(self, name, mileage, capacity):
    super().__init__(name, mileage, capacity)

  def fare(self):
    f = super().fare()
    m = f * 0.1
    return f + m

School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [21]:
#write here and run the cell
import json

data = {'key1': "value1", 'key2': "value2"}
json_data = json.dumps(data)

print(json_data)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [22]:
#write here and run the cell
import json

sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

{
      "age": 29,
      "id": 1,
      "name": "value2"
}

filename = '/content/sorted_json.json'

sorted_json = json.dumps(sampleJson, sort_keys=True)

with open(filename, 'w') as file:
    file.write(sorted_json)

print(sorted_json)

{"age": 29, "id": 1, "name": "value2"}